@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	min-width: 0;
	box-sizing: border-box;
}

.marquee {
	background-color: #00df8e;
	position: relative;
	height: 90px;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.track {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 32s linear infinite;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

.nav_active {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	background-color: #00df8e;
	font-weight: 700;
	border-radius: 0.5rem /* 8px */;
	font-size: 1.875rem /* 30px */;
	line-height: 2.25rem /* 36px */;
}

.update_nav_active {
	color: #00df8e;
	font-size: 1.125rem /* 18px */;
	line-height: 1.75rem /* 28px */;
	font-weight: 500;
}
