@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	min-width: 0;
}

.marquee {
	background-color: #00df8e;
	position: relative;
	height: 90px;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.track {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 32s linear infinite;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
